<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  {{ params.attached_placeholder_token|raw }}
  <link rel="canonical" href="{{ params.canonical }}">

  {{ params.scripts|raw }}


  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

  <style amp-custom>
    .heading {
      padding-bottom: 8px;
    }
    .heading h1 {
      font-size: 3rem;
      line-height: 3.5rem;
      margin-bottom: 1rem;
    }
  </style>

</head>
<body>

{# Google Tag Manager - Specify your GTM ID here: #}
{% set gtm_container_id = '' %}
{% if gtm_container_id %}
  <amp-analytics config="https://www.googletagmanager.com/amp.json?id={{ gtm_container_id }}&m.url=SOURCE_URL" data-credentials="include"></amp-analytics>
{% endif %}

<main>
  <div class="heading">

    <h1>{{ title }}</h1>

    <div class="social-sharing">
      <amp-social-share type="twitter" width="45" height="33"></amp-social-share>
      <amp-social-share type="gplus" width="45" height="33"></amp-social-share>
      <amp-social-share type="email" width="45" height="33"></amp-social-share>
    </div>

  </div>
  <div class="content">

    {{ content|raw }}

  </div>
</main>

{% if params.ga %}
<amp-analytics type="googleanalytics">
  <script type="application/json">
  {
    "vars": {
      "account": "{{ params.ga }}"
    },
    "triggers": {
      "default pageview": {
        "on": "visible",
        "request": "pageview",
        "vars": {
          "title": "{{title}}"
        }
      }
    }
  }
  </script>
</amp-analytics>
{% endif %}

</body>
</html>
